.orgSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: BLACK;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 24px;
  border-bottom: 4px solid #e1c699;
  font-family: "Montserrat", sans-serif;
}

.orgSection img {
  position: absolute;
  right: 30%;
  cursor: pointer;
}

.agregar {
  margin-left: 1%;
}
